<!DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body onload="initialize()">

    <h1>Don't know where to go? </h1>
    <h2>input your city and check out the list of suggested things!</h2>
      <form action="/" name="address">
        <input id="address" type="textbox" value="">
        <input type="button" value="Search" onclick="codeAddress()">
      </div>

    <div>
      <ul>
        <li>
          <% places.results.forEach( function (element) { %> 
            <br>
            <h2 class="place_name"><%= element.name %></h2>
            <br>
            <%= element.address %>
            <br>  
            <a><%= element.website %></a>
            <br>
            <% }); %>
        </li>
    </ul>
  </div>
  <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9yKj9LOXFPB8mW9rxxxy2T6IHnjIO7W0&callback=initMap" async defer>
    </script>
</body>

</html>